.progress {
	outline: none;
	cursor: pointer;
	background: transparent;
	appearance: none;
	min-height: 12px;

	overflow: hidden;

	// 如果未悬浮，则隐藏圆球(渐显)
	&::-webkit-slider-thumb {
		appearance: none;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		position: relative;
		top: -4px;
		background: transparent;
		border: 1px solid transparent;
		border-image: linear-gradient(var(--primary-color), var(--primary-color)) 0 fill / 4 4 4 0 /
			0 0 0 99dvw;
		transition: background 0.1s ease-in-out;
	}

	&::-webkit-slider-runnable-track {
		background-color: var(--second-text-color);
		width: 100%;
		height: 4px;
		border-radius: 4px;
	}

	&:hover::-webkit-slider-thumb {
		background: var(--primary-color);
	}
}
