.song {
	width: 100%;
	max-width: 100%;
	height: auto;

	&__header {
		position: sticky;
		top: 0;
		z-index: 1;
		display: flex;
		width: 100%;
		height: 40px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		background: var(--second-background-color);
		padding: 8px 12px;

		h2 {
			font-size: 1rem;
		}

		&__name {
			position: relative;
			flex: 1;
			display: flex;
			align-items: center;
			padding: 4px 20px 4px 0;
		}

		&__album {
			flex: 1;
			padding-right: 20px;
		}

		&__operation {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40px;
		}

		&__duration {
			width: 50px;
			font-size: 13px;
			text-align: center;
		}
	}

	&__item {
		display: flex;
		width: 100%;
		padding: 8px 12px;
		border-radius: 8px;
		cursor: pointer;
		color: var(--text-color);
		transition: all 0.3s ease-in-out;

		&__title {
			flex: 1;
			display: flex;
			align-items: center;
			padding: 4px 0;

			&__info {
				display: flex;
				flex-direction: column;
				justify-content: center;

				h3,
				p {
					display: -webkit-inline-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 1;
					line-clamp: 1;
					overflow: hidden;
				}
			}

			&__cover {
				height: 50px;
				width: 50px;
				min-width: 50px;
				border-radius: 8px;
				margin-right: 12px;
			}
		}

		&__album {
			flex: 1;
			line-clamp: 2;
			padding: 0 0 0 20px;

			h3 {
				font-size: 1rem;
				display: -webkit-inline-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				line-clamp: 2;
				overflow: hidden;
				display: flex;
				align-items: center;
				height: 100%;
			}
		}

		&__operation {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50px;

			span {
				font-size: 1.2rem;
				cursor: pointer;
				width: 50px;
				text-align: center;
				color: var(--text-color);
				transition: color 0.1s ease-in-out;

				&:hover {
					color: var(--primary-color);
				}
			}
		}

		&__duration {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50px;
		}

		&:hover {
			background: var(--button-hover-bg-color);
		}

		&.active {
			background: var(--button-focus-bg-color);
		}
	}
}
